In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats

In [4]:
plane_crash = pd.read_csv('data/plane_crashes_data.csv')
plane_crash.shape

(2709, 10)

In [3]:
plane_crash.head()

,month,hour,year,location,operator,route,type,aboard,fatalities,summary
0,1,12,1950,"Near Vacas, Bolivia",Military - Bolivian Air Force,Valle grande - Cochabamba,Douglas C-47,32,32,Crashed while en route in the Andes mountains ...
1,3,20,1950,"Minneapolis, Minnesota",Northwest Orient Airlines,Rochester Minn. - Minneapolis,Martin 202,13,13,"Crashed into a flag pole, well marked by red n..."
2,3,14,1950,"Llandow Airport, Cardiff, Wales",Fairflight Ltd.,Llandow - Dublin,Avro 689 Tudor 5,83,80,During the approach to Runway 28 at Llandow Ai...
3,4,23,1950,"Near Atsugi, Japan",Military - U.S. Air Force,Philippines - Japan,Douglas C-54D,35,35,Flew off its prescribed course and crashed int...
4,5,20,1950,"Lagens Air Force Base, Azores",Military - U.S. Air Force,Bermuda - England,Boeing B-29,16,16,Crashed while attempting to land after being d...

### What is the mean for number of people killed in plane crashes for the years 1980 to 2009 (inclusive of both years, rounded to the nearest 100th decimal place)?

In [19]:
plane_1980_2009 = plane_crash[(plane_crash['year']>=1980) & (plane_crash['year']<=2009)]
plane_1980_2009['fatalities'].mean()

24.932607215793055

### For the entire time period (1950 to 2009), which month has seen the most plane crashes?

In [11]:
plane_crash['month'].value_counts()

1     255
12    252
3     251
8     239
7     234
11    230
9     228
10    224
2     209
4     204
6     202
5     181
Name: month, dtype: int64

### What is the highest number of fatalities in a single crash?

In [12]:
plane_crash['fatalities'].max()

583

### What percentage of crashed flights have had 1 or more fatalities?

In [14]:
plane_crash[plane_crash['fatalities']>0].shape[0] / plane_crash.shape[0] * 100

98.19121447028424

### What is the average percent of passengers (inclusive of crew) killed per plane crash for the entire period? *

In [16]:
plane_crash['percent_kill'] = plane_crash['fatalities'] / plane_crash['aboard'] * 100
plane_crash['percent_kill'].mean()

82.31319223510573