In [1]:
# setting environment
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Dataset
The data set I chose for this project is from [Web Robots](https://webrobots.io/kickstarter-datasets/), **KickStarter** is the world's largest funding platform for creative projects. The dataset consists of all the projects campaign in a certain period, the goal for this challenge is to explore the data and create new features that could potentially be helpful in our next mission: to predict the project is successfully funded or not

In [4]:
# read the csv file and check the first few rows
KS_raw = pd.read_csv('data/Kickstarter.csv')
KS_raw.head()

,backers_count,blurb,category,converted_pledged_amount,country,created_at,creator,currency,currency_symbol,currency_trailing_code,...,slug,source_url,spotlight,staff_pick,state,state_changed_at,static_usd_rate,urls,usd_pledged,usd_type
0,170,A documentary about two circuses in remote cor...,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",27455,US,1339525842,"{""id"":1596438170,""name"":""Susan Gray"",""is_regis...",USD,$,True,...,big-top-without-borders,https://www.kickstarter.com/discover/categorie...,True,False,successful,1353256231,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",27455.55,international
1,10,A multi-media IPad book telling the true story...,"{""id"":46,""name"":""Children's Books"",""slug"":""pub...",535,US,1351941026,"{""id"":529454320,""name"":""Barb Buresh"",""is_regis...",USD,$,True,...,the-story-of-pweep-from-egg-to-peacock,https://www.kickstarter.com/discover/categorie...,True,False,successful,1355949546,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",535.00,international
2,0,We are college students that get drunk and the...,"{""id"":357,""name"":""Audio"",""slug"":""journalism/au...",0,CA,1415917256,"{""id"":1626740608,""name"":""DC Radio"",""is_registe...",CAD,$,True,...,dc-radio,https://www.kickstarter.com/discover/categorie...,False,False,failed,1418916015,0.886698,"{""web"":{""project"":""https://www.kickstarter.com...",0.00,domestic
3,0,"its Ali bangerz,its time to stand up for other...","{""id"":44,""name"":""World Music"",""slug"":""music/wo...",0,US,1446664703,"{""id"":631293879,""name"":""Ali Bangerz"",""is_regis...",USD,$,True,...,ali-bangerz-two-new-full-lenght-albums,https://www.kickstarter.com/discover/categorie...,False,False,failed,1449345000,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",0.00,domestic
4,62,A young neuroscientist attempts to reconnect w...,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",6705,US,1284003536,"{""id"":1385040366,""name"":""Alexis Gambis (delete...",USD,$,True,...,deja-vu-dissecting-memory-on-camera,https://www.kickstarter.com/discover/categorie...,True,True,successful,1287200724,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",6705.00,international

In [19]:
# check the composition of each column, drop the column that has mostly NaN(more than half)
print(KS_raw.info())
KS_raw.dropna(thresh=len(KS_raw)/2, axis=1, inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3811 entries, 0 to 3810
Data columns (total 37 columns):
backers_count               3811 non-null int64
blurb                       3810 non-null object
category                    3811 non-null object
converted_pledged_amount    3811 non-null int64
country                     3811 non-null object
created_at                  3811 non-null int64
creator                     3811 non-null object
currency                    3811 non-null object
currency_symbol             3811 non-null object
currency_trailing_code      3811 non-null bool
current_currency            3811 non-null object
deadline                    3811 non-null int64
disable_communication       3811 non-null bool
friends                     2 non-null object
fx_rate                     3811 non-null float64
goal                        3811 non-null float64
id                          3811 non-null int64
is_backing                  2 non-null object
is_starrable                3811 non-null bool
is_starred                  2 non-null object
launched_at                 3811 non-null int64
location                    3790 non-null object
name                        3811 non-null object
permissions                 2 non-null object
photo                       3811 non-null object
pledged                     3811 non-null float64
profile                     3811 non-null object
slug                        3811 non-null object
source_url                  3811 non-null object
spotlight                   3811 non-null bool
staff_pick                  3811 non-null bool
state                       3811 non-null object
state_changed_at            3811 non-null int64
static_usd_rate             3811 non-null float64
urls                        3811 non-null object
usd_pledged                 3811 non-null float64
usd_type                    3810 non-null object
dtypes: bool(5), float64(5), int64(7), object(20)
memory usage: 971.4+ KB
None

In [24]:
KS_raw.iloc[0]['profile']

'{"id":223806,"project_id":223806,"state":"inactive","state_changed_at":1425915812,"name":null,"blurb":null,"background_color":null,"text_color":null,"link_background_color":null,"link_text_color":null,"link_text":null,"link_url":null,"show_feature_image":false,"background_image_opacity":0.8,"should_show_feature_image_section":true,"feature_image_attributes":{"image_urls":{"default":"https://ksr-ugc.imgix.net/assets/011/379/855/ece09cf50132944b2c72ea5d07a8cd96_original.jpg?ixlib=rb-1.1.0&crop=faces&w=1552&h=873&fit=crop&v=1463681787&auto=format&frame=1&q=92&s=88c1cbd723d8a648fb647adf311c6e1d","baseball_card":"https://ksr-ugc.imgix.net/assets/011/379/855/ece09cf50132944b2c72ea5d07a8cd96_original.jpg?ixlib=rb-1.1.0&crop=faces&w=560&h=315&fit=crop&v=1463681787&auto=format&frame=1&q=92&s=f8b7ea008d3d61b710f2aefc811b79d7"}}}'

In [22]:
# check the first row to see what it contains in each column to get an idea what might be useful
KS_raw.iloc[0]

backers_count                                                             170
blurb                       A documentary about two circuses in remote cor...
category                    {"id":30,"name":"Documentary","slug":"film & v...
converted_pledged_amount                                                27455
country                                                                    US
created_at                                                         1339525842
creator                     {"id":1596438170,"name":"Susan Gray","is_regis...
currency                                                                  USD
currency_symbol                                                             $
currency_trailing_code                                                   True
current_currency                                                          USD
deadline                                                           1353256229
disable_communication                                                   False
fx_rate                                                                     1
goal                                                                    25000
id                                                                 1555581815
is_starrable                                                            False
launched_at                                                        1350660629
location                    {"id":2367105,"name":"Boston","slug":"boston-m...
name                                                  Big Top Without Borders
photo                       {"key":"assets/011/379/855/ece09cf50132944b2c7...
pledged                                                               27455.5
profile                     {"id":223806,"project_id":223806,"state":"inac...
slug                                                  big-top-without-borders
source_url                  https://www.kickstarter.com/discover/categorie...
spotlight                                                                True
staff_pick                                                              False
state                                                              successful
state_changed_at                                                   1353256231
static_usd_rate                                                             1
urls                        {"web":{"project":"https://www.kickstarter.com...
usd_pledged                                                           27455.5
usd_type                                                        international
Name: 0, dtype: object

from above, we could see that columns like `blurb` are for description purpose, which does not have any value for our prediction purpose, thus we could savely remove it. Others like `id` is assigned by **Kickstarter** is not useful either, `name`, `photo`, `source_url`, `urls`..etc. are more or less for identity purpose, time related columns like `created at`, `deadline`...etc. have no use either, since the format is too unique and does not provide useful information, we could remove them as well, we will perform the columns cleaning step.

In [25]:
# drop unnecessary columns
col_drop = ['blurb', 'created_at', 'creator', 'currency_symbol', 'deadline', 'id', 'launched_at', 'name', 'photo',
           'profile', 'slug', 'source_url', 'state_changed_at', 'urls']
KS_raw.drop(col_drop, axis=1, inplace=True)

In [26]:
KS_raw.head()

,backers_count,category,converted_pledged_amount,country,currency,currency_trailing_code,current_currency,disable_communication,fx_rate,goal,is_starrable,location,pledged,spotlight,staff_pick,state,static_usd_rate,usd_pledged,usd_type
0,170,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",27455,US,USD,True,USD,False,1.000000,25000.0,False,"{""id"":2367105,""name"":""Boston"",""slug"":""boston-m...",27455.55,True,False,successful,1.000000,27455.55,international
1,10,"{""id"":46,""name"":""Children's Books"",""slug"":""pub...",535,US,USD,True,USD,False,1.000000,500.0,False,"{""id"":2466256,""name"":""Orlando"",""slug"":""orlando...",535.00,True,False,successful,1.000000,535.00,international
2,0,"{""id"":357,""name"":""Audio"",""slug"":""journalism/au...",0,CA,CAD,True,USD,False,0.748587,3500.0,False,"{""id"":4118,""name"":""Toronto"",""slug"":""toronto-on...",0.00,False,False,failed,0.886698,0.00,domestic
3,0,"{""id"":44,""name"":""World Music"",""slug"":""music/wo...",0,US,USD,True,USD,False,1.000000,20000.0,False,"{""id"":2466256,""name"":""Orlando"",""slug"":""orlando...",0.00,False,False,failed,1.000000,0.00,domestic
4,62,"{""id"":30,""name"":""Documentary"",""slug"":""film & v...",6705,US,USD,True,USD,False,1.000000,5000.0,False,"{""id"":12589335,""name"":""Brooklyn"",""slug"":""brook...",6705.00,True,True,successful,1.000000,6705.00,international

Next, we can see there are some columns that have dictionary format, for example, `category` and `location`, we will examine those columns to examine further to see if we could extract any useful information for our model

In [48]:
# check the category column
KS_raw.iloc[1]['category']

'{"id":46,"name":"Children\'s Books","slug":"publishing/children\'s books","position":5,"parent_id":18,"color":14867664,"urls":{"web":{"discover":"http://www.kickstarter.com/discover/categories/publishing/children\'s%20books"}}}'

In [49]:
KS_raw.iloc[0]['category']

'{"id":30,"name":"Documentary","slug":"film & video/documentary","position":4,"parent_id":11,"color":16734574,"urls":{"web":{"discover":"http://www.kickstarter.com/discover/categories/film%20&%20video/documentary"}}}'

In [52]:
KS_raw.iloc[10]['category']

'{"id":270,"name":"Gaming Hardware","slug":"games/gaming hardware","position":1,"parent_id":12,"color":51627,"urls":{"web":{"discover":"http://www.kickstarter.com/discover/categories/games/gaming%20hardware"}}}'

In [56]:
KS_raw.iloc[997]['category']

'{"id":30,"name":"Documentary","slug":"film & video/documentary","position":4,"parent_id":11,"color":16734574,"urls":{"web":{"discover":"http://www.kickstarter.com/discover/categories/film%20&%20video/documentary"}}}'

From above, we could tell that the `name` information in the category column might be useful

In [58]:
# extract the name information from category column and replace the original column
KS_raw['category'] = KS_raw['category'].str.extract('"name":"(.*)","slug"')

In [59]:
# check the compositions in the new category column
KS_raw['category'].value_counts()

Shorts                250
Documentary           244
Hip-Hop               242
Children's Books      238
Video Games           227
World Music           164
Web                   153
Performances          141
Farms                 137
People                122
Musical               121
Conceptual Art        120
Live Games            100
Television             98
Young Adult            90
Action                 80
Graphic Design         64
Hardware               57
Gaming Hardware        54
Audio                  52
Public Art             47
Performance Art        44
Interactive Design     44
Comedy                 44
Fiction                37
Country & Folk         36
Small Batch            35
Spaces                 32
Animals                30
Woodworking            30
                     ...
Fabrication Tools       7
Farmer's Markets        7
Technology              6
Events                  6
Installations           6
Childrenswear           6
Painting                5
Pottery                 5
Knitting                4
Crochet                 4
Literary Spaces         4
Makerspaces             4
Design                  4
Immersive               3
Festivals               3
Quilts                  3
Workshops               3
Gadgets                 3
Software                2
Chiptune                2
Bacon                   2
Residencies             1
3D Printing             1
Civic Design            1
Vegan                   1
Robots                  1
Illustration            1
Pet Fashion             1
Typography              1
Camera Equipment        1
Name: category, Length: 92, dtype: int64

We can tell there are 92 unique categories, some of them only has less than ten of nearly 4000 projects, we will use 30 as a cutoff value and assign those categories that have less than 30 projects as `Minor_cat`

In [61]:
KS_cat = KS_raw['category'].value_counts()
KS_cat[KS_cat < 30].index

Index(['Photobooks', 'Wearables', 'Romance', 'Drinks', 'Tabletop Games',
       'Playing Cards', 'DIY', 'Restaurants', 'Ready-to-wear', 'Apparel',
       'Dance', 'Radio & Podcasts', 'Apps', 'Periodicals', 'Product Design',
       'Digital Art', 'Academic', 'Translations', 'Poetry', 'Art', 'Video',
       'Thrillers', 'R&B', 'Literary Journals', 'Experimental', 'Metal',
       'Architecture', 'Mixed Media', 'Embroidery', 'Kids', 'Fine Art',
       'Fabrication Tools', 'Farmer's Markets', 'Technology', 'Events',
       'Installations', 'Childrenswear', 'Painting', 'Pottery', 'Knitting',
       'Crochet', 'Literary Spaces', 'Makerspaces', 'Design', 'Immersive',
       'Festivals', 'Quilts', 'Workshops', 'Gadgets', 'Software', 'Chiptune',
       'Bacon', 'Residencies', '3D Printing', 'Civic Design', 'Vegan',
       'Robots', 'Illustration', 'Pet Fashion', 'Typography',
       'Camera Equipment'],
      dtype='object')

In [64]:
# transform data
# define helper function cat
def cat(col):
    if col in KS_cat[KS_cat < 30].index:
        return 'Minor_cat'
    else:
        return col
cat_v = np.vectorize(cat)
KS_raw['category'] = cat_v(KS_raw['category'])

In [65]:
# check the result
KS_raw['category'].value_counts()

Minor_cat             648
Shorts                250
Documentary           244
Hip-Hop               242
Children's Books      238
Video Games           227
World Music           164
Web                   153
Performances          141
Farms                 137
People                122
Musical               121
Conceptual Art        120
Live Games            100
Television             98
Young Adult            90
Action                 80
Graphic Design         64
Hardware               57
Gaming Hardware        54
Audio                  52
Public Art             47
Interactive Design     44
Comedy                 44
Performance Art        44
Fiction                37
Country & Folk         36
Small Batch            35
Spaces                 32
Woodworking            30
Animals                30
Couture                30
Name: category, dtype: int64

Now we check the location column to see if there is any useful information

In [41]:
# check the location column
KS_raw.iloc[1]['location']

'{"id":2466256,"name":"Orlando","slug":"orlando-fl","short_name":"Orlando, FL","displayable_name":"Orlando, FL","localized_name":"Orlando","country":"US","state":"FL","type":"Town","is_root":false,"urls":{"web":{"discover":"https://www.kickstarter.com/discover/places/orlando-fl","location":"https://www.kickstarter.com/locations/orlando-fl"},"api":{"nearby_projects":"https://api.kickstarter.com/v1/discover?signature=1544744108.d051032d270dd1093d42b7aa19a14d5fbdc44d3d&woe_id=2466256"}}}'

To simplify the problem, we extract only the country part so there are not too many unique values but still have enough categories for our model

In [43]:
# extract the contry code from the location column as replace the original column
KS_raw['location'] = KS_raw['location'].str.extract('"country":"(.*)","state"')

In [46]:
# check the value of location
KS_raw['location'].value_counts().head(5)

US    2828
GB     284
CA     149
AU      75
DE      49
Name: location, dtype: int64

From above, we can see the top 5=five contries of origin are `US`, `GB`, `CA`, `AU`, `DE`, we will create a sixth category called others if it is not in these five countries, in other words, we will transform `location` column into a six-value categorical feature

In [47]:
KS_raw['location'] = np.where(KS_raw['location'] == 'US', 'US',
                     np.where(KS_raw['location'] == 'GB', 'GB',
                     np.where(KS_raw['location'] == 'CA', 'CA',
                     np.where(KS_raw['location'] == 'AU', 'AU',
                     np.where(KS_raw['location'] == 'DE', 'DE', 'Others')))))
KS_raw['location'].value_counts()

US        2828
Others     426
GB         284
CA         149
AU          75
DE          49
Name: location, dtype: int64

In [67]:
KS_raw.head(10)

,backers_count,category,converted_pledged_amount,country,currency,currency_trailing_code,current_currency,disable_communication,fx_rate,goal,is_starrable,location,pledged,spotlight,staff_pick,state,static_usd_rate,usd_pledged,usd_type
0,170,Documentary,27455,US,USD,True,USD,False,1.000000,25000.0,False,US,27455.55,True,False,successful,1.000000,27455.550000,international
1,10,Children's Books,535,US,USD,True,USD,False,1.000000,500.0,False,US,535.00,True,False,successful,1.000000,535.000000,international
2,0,Audio,0,CA,CAD,True,USD,False,0.748587,3500.0,False,CA,0.00,False,False,failed,0.886698,0.000000,domestic
3,0,World Music,0,US,USD,True,USD,False,1.000000,20000.0,False,US,0.00,False,False,failed,1.000000,0.000000,domestic
4,62,Documentary,6705,US,USD,True,USD,False,1.000000,5000.0,False,US,6705.00,True,True,successful,1.000000,6705.000000,international
5,0,Comedy,0,MX,MXN,True,USD,False,0.049716,20000.0,False,Others,0.00,False,False,failed,0.052852,0.000000,international
6,1,Action,1,US,USD,True,USD,False,1.000000,350.0,False,US,1.00,False,False,failed,1.000000,1.000000,domestic
7,1,World Music,100,US,USD,True,USD,False,1.000000,10000.0,False,US,100.00,False,False,failed,1.000000,100.000000,domestic
8,5,Musical,700,US,USD,True,USD,False,1.000000,700.0,False,US,700.00,True,False,successful,1.000000,700.000000,international
9,2,Couture,136,CA,CAD,True,USD,False,0.748587,50000.0,False,CA,170.00,False,False,failed,0.788605,134.062845,international

Next, we will deal with numerical values, it seems that `converted_pledged_amount`, `pledged` and `usd_pledged`column are referring the same thing, we would keep the `usd_pledged` column only since we want to have the same currency to compare between projects. Since we only care about the pledged amount, the currency exchange rate does not matter as well as the currency type, we will drop those columns accordingly.

In [74]:
# drop the column
col_drop = ['converted_pledged_amount', 'currency', 'currency_trailing_code', 'current_currency', 'fx_rate', 
            'pledged', 'static_usd_rate']
KS_raw.drop(col_drop, axis=1, inplace=True)

Next we will deal with the categorical variable and change the binary value to 0 and 1, for example, in our target value column `state`, we would like to predict whether the project is successful or not, so we will assign successful as 1 and other values 0

In [81]:
# transform the binary categorical column
KS_raw['disable_communication'] = KS_raw['disable_communication'].map({False: 0, True: 1})
KS_raw['is_starrable'] = KS_raw['is_starrable'].map({False: 0, True: 1})
KS_raw['spotlight'] = KS_raw['spotlight'].map({False: 0, True: 1})
KS_raw['staff_pick'] = KS_raw['staff_pick'].map({False: 0, True: 1})

In [82]:
# deal with the state column
KS_raw['state'] = np.where(KS_raw['state'] == 'successful', 1, 0)

In [83]:
KS_raw.head()

,backers_count,category,country,disable_communication,goal,is_starrable,location,spotlight,staff_pick,state,usd_pledged,usd_type
0,170,Documentary,US,0,25000.0,0,US,1,0,1,27455.55,international
1,10,Children's Books,US,0,500.0,0,US,1,0,1,535.00,international
2,0,Audio,CA,0,3500.0,0,CA,0,0,0,0.00,domestic
3,0,World Music,US,0,20000.0,0,US,0,0,0,0.00,domestic
4,62,Documentary,US,0,5000.0,0,US,1,1,1,6705.00,international

It looks like `country` column is pretty much the same as `location`, we will drop the `country` column since we already extract those information from the `location` column, we will drop `usd_type` as well because it does not provide any useful information

In [86]:
# drop more column
KS_raw.drop(['country', 'usd_type'], axis=1, inplace=True)

In [87]:
KS_raw.corr()

,backers_count,disable_communication,goal,is_starrable,spotlight,staff_pick,state,usd_pledged
backers_count,1.000000,-0.010545,0.024467,-0.008481,0.157133,0.231127,0.157133,0.844844
disable_communication,-0.010545,1.000000,0.022214,-0.009029,-0.074039,-0.028517,-0.074039,-0.009620
goal,0.024467,0.022214,1.000000,-0.003878,-0.051370,-0.012811,-0.051370,0.030138
is_starrable,-0.008481,-0.009029,-0.003878,1.000000,-0.126720,-0.036207,-0.126720,-0.010733
spotlight,0.157133,-0.074039,-0.051370,-0.126720,1.000000,0.291046,1.000000,0.146564
staff_pick,0.231127,-0.028517,-0.012811,-0.036207,0.291046,1.000000,0.291046,0.190288
state,0.157133,-0.074039,-0.051370,-0.126720,1.000000,0.291046,1.000000,0.146564
usd_pledged,0.844844,-0.009620,0.030138,-0.010733,0.146564,0.190288,0.146564,1.000000

In [85]:
KS_raw['country'].value_counts()

US    2969
GB     290
CA     157
AU      78
DE      42
FR      42
IT      34
NL      34
MX      32
ES      27
SE      24
DK      15
NO      14
NZ      11
AT       9
CH       8
IE       7
BE       7
SG       5
HK       4
JP       2
Name: country, dtype: int64

In [80]:
KS_raw['usd_type'].value_counts()

international    2215
domestic         1595
Name: usd_type, dtype: int64

In [75]:
KS_raw.head()

,backers_count,category,country,disable_communication,goal,is_starrable,location,spotlight,staff_pick,state,usd_pledged,usd_type
0,170,Documentary,US,False,25000.0,False,US,True,False,successful,27455.55,international
1,10,Children's Books,US,False,500.0,False,US,True,False,successful,535.00,international
2,0,Audio,CA,False,3500.0,False,CA,False,False,failed,0.00,domestic
3,0,World Music,US,False,20000.0,False,US,False,False,failed,0.00,domestic
4,62,Documentary,US,False,5000.0,False,US,True,True,successful,6705.00,international

In [69]:
KS_raw.dtypes

backers_count                 int64
category                     object
converted_pledged_amount      int64
country                      object
currency                     object
currency_trailing_code         bool
current_currency             object
disable_communication          bool
fx_rate                     float64
goal                        float64
is_starrable                   bool
location                     object
pledged                     float64
spotlight                      bool
staff_pick                     bool
state                        object
static_usd_rate             float64
usd_pledged                 float64
usd_type                     object
dtype: object